<!doctype html>
<html ng-app="patternfly.card">
  <head>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/jquery.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/bootstrap.min.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/bootstrap-select.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/jquery-ui.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/jquery.dataTables.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/dataTables.select.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/moment.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/d3.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/c3.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/patternfly-settings.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/patternfly-settings-colors.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/patternfly-settings-charts.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-dragdrop.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-datatables.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-datatables.select.min.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-sanitize.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-animate.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/ui-bootstrap-tpls.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-bootstrap-prettify.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/lodash.min.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-patternfly.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-ui-router.min.js"></script>
    <script src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-drag-and-drop-lists.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css" />
  	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css" />
  </head>
  <body>
  
  <nav class="navbar navbar-pf-vertical">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">
      <img class="navbar-brand-name" src="/water.png" alt="Fuse 7 TP3 Demo - Water Company" style="width:30px;height:30px;border:0;"/> Fuse 7 TP3 DEMO - WATER COMPANY
    </a>
  </div>
  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right navbar-iconic navbar-utility">
      
      <li class="dropdown">
        <a href="#0" class="dropdown-toggle nav-item-iconic" id="dropdownMenu18" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span title="Help" class="fa pficon-help"></span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu18">
          <li><a href="#0">Fuse Ignite</a></li>
          <li><a href="#0">Documentation</a></li>
        </ul>
      </li>
      <li >
        <a href="#0" class="nav-item-iconic" id="dropdownMenu28" aria-haspopup="true" aria-expanded="true">
          <span title="Username" class="fa pficon-user"></span>Account Viewer<span class="caret"></span>
        </a>
        
      </li>
    </ul>
  </nav>
</nav> <!--/.navbar-->
  
<div class="container-fluid">
  <h2>Account Summary</h2>
  <br/>
  <div th:if="${not #lists.isEmpty(accounts)}">
   	<div class="col-xs-12 col-sm-3 col-md-2" th:each="account : ${accounts}">
		<div class="card-pf card-pf-view card-pf-view-xs" >
		  <div class="card-pf-body" >
			    <div class="card-pf-heading-kebab">
					<h2 class="card-pf-title" th:text="${account.accountid}">
				        <span class="pficon pficon-cluster"></span> Account Balance Summary
				    </h2>
			    </div>
			    <div class="progress-pf-legend">
			      	<div class="progress" >
					  <div class="progress-bar" role="progressbar" th:aria-valuenow="${account.numerator}" aria-valuemin="0" aria-valuemax="100"  th:style="${account.numeratorStyle}">
					    <span class="sr-only" th:text="${account.numerator}">25% </span>
					  </div>
					  <div class="progress-bar progress-bar-remaining" role="progressbar" aria-valuenow="${account.remains}" aria-valuemin="0" aria-valuemax="100" th:style="${account.remainsStyle}">
					    <span class="sr-only" th:text="${account.remains} ">75% </span>
					  </div>
					</div>
					<script>
					  // Initialize Tooltip
					  jQuery(document).ready(function() {
					    jQuery('[data-toggle="tooltip"]').tooltip();
					  });
					</script>
			      	<p><span class="pficon pficon-warning-triangle-o"></span> $<strong th:text="${account.balance}">balance</strong> paid.</p>
			    </div>
		  </div>
		</div>
	</div>
   </div>
</div>
   
   <br/>
   <br/>
   <nav class="collapse navbar-collapse">
   	<div class="col-md-12 clearfix">
	   <div th:if="${not #lists.isEmpty(payments)}">
	        <h2>All Payments</h2>
	        <br/>
	        <table class="table table-striped table-bordered table-hover">
	            <tr>
	                <th>Id</th>
	                <th>Paid Date</th>
	                <th>Amount</th>
	            </tr>
	            <tr th:each="payment : ${payments}">
	                <td th:text="${payment.accountid}">Id</td>
	                <td th:text="${payment.paiddate}">Date</td>
	                <td th:text="${payment.paidamt}">Amount</td>
	            </tr>
	        </table>
	    </div>
	  </div>
    </nav>	
     	
    </body>
</html>
